{% extends 'base.html' %}

{% block title %}
    Project List
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list.all %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for item in task_list.all %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.start_date }}</td>
                                <td>{{ item.due_date }}</td>
                                <td>{{ item.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
